<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334583198681-4dqod5itfa124974srtpgrjdmq5r1n11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334583198681-4dqod5itfa124974srtpgrjdmq5r1n11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334583198681-7h10lgpmbvmt276mfgnmq3989ib6ij5c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOt5af8jPqUH7UWKdcY-71zXyd13IT10U</string>
	<key>GCM_SENDER_ID</key>
	<string>334583198681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>login-f4940</string>
	<key>STORAGE_BUCKET</key>
	<string>login-f4940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334583198681:ios:ec8602789653df27f01fc8</string>
</dict>
</plist>